<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2 class="text-center">Modification de la salle <%= @room.name %></h2>
      <hr>
        <%= simple_form_for(@room) do |f| %>
          <%= f.error_notification %>
            <div class="form-inputs">
            <%= f.input :name, label: "Nom de la salle" %>
            <%= f.input :sits, label: "Nombre de places assises" %>
            <%= f.input :photo, as: :attachinary; %>
            <div class="form-actions">
              <%= f.button :submit %>
            </div>
        <% end %>
    </div>
  </div>
</div>
