<div class="container">
  <div class="filter">

    <h4>Filtres :</h4>
    <%= form_tag '', :method => :get do %>
      Nb de personnes
      <%= number_field_tag :sits %>
      Debut
      <%= datetime_field_tag :start_time %>
      Fin
      <%= datetime_field_tag :end_time %>
      <%= submit_tag 'Filtrer', class: "btn btn-filter btn-info" %>
      <% if params[:commit] == "Filtrer" %>
        <%= link_to "Effacer filtres", rooms_path, class: "btn btn-info" %>
      <% end %>
    <% end %>

  </div>
  <div class="rooms">
    <div>
    <h3>Liste des salles</h3>
    <% if @rooms_filtered.length > 1 %>
    <p><em><%= @rooms_filtered.length %> salles trouvées</em></p>
    <% elsif @rooms_filtered.length == 0 %>
    <p><em>Aucune salle trouvée</em></p>
    <% else %>
    <p><em><%= @rooms_filtered.length %> salle trouvée</em></p>
    <% end %>
    </div>
    <div class="new">
      <%= link_to "Calendrier de toutes les réservations", bookings_path, class: "btn btn-primary btn-index" %>
      <%= link_to "Ajouter une salle", "#", class: "btn btn-primary btn-index", :data => { :toggle => "modal", :target => "#myModal"} %>
    </div>
  </div>
  <div class="search-results">
    <div class= "row">
      <div class="col-xs-12">
        <div class="row">
          <% @rooms_filtered.each do |room| %>
          <div class="listing-card-wrapper col-xs-12 col-sm-6 space-4 col-md-3 space-4">
            <% if room.photo? %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path room.photo.path, height: 175, width: 360, crop: :fill; %>');">
            <% else %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path 'default_card.jpg' %>');">
            <% end %>
            <div class="card-category"><strong><%= room.name %></div></strong>
              <div class="card-description">
                <p><em>Nombre de places: <%= room.sits %></em></p>
              </div>
              <%= link_to "", room_path(room), class: "card-link" %>
            </div>
          </div>
          <% end %>
        </div>
        <% if @all_rooms.length > 12 %>
          <hr>
          <div class="bottom-index text-center">
            <%= will_paginate @rooms, class: "btn btn-page" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Ci-dessous modal déclenchée par le CTA permettant de créer une nouvelle salle -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Création d'une salle</h4>
      </div>
      <div class="modal-body">
        <!-- FORMULAIRE -->
        <%= simple_form_for(@room) do |f| %>
          <%= f.error_notification %>
            <div class="form-inputs">
            <%= f.input :name, label: "Nom de la salle" %>
            <%= f.input :sits, label: "Nombre de places assises" %>
            <%= f.input :description, label: "Description" %>
            <%= f.input :handicap, label: "Acces handicapé" %>
            <%= f.input :catering, label: "Service traiteur" %>
            <%= f.input :photo, as: :attachinary; %>
            <div class="form-actions">
              <%= f.button :submit, "Créer" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


